<div>
	<form role="form">
		<div class="form-group">
			<label dojoAttachPoint="weather"></label>
			<img dojoAttachPoint="weatherIcon"/>
		</div>
	</form>
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>Wind</td>
				<td dojoAttachPoint="windSpeed"></td>
			</tr>
			<tr>
				<td>Cloudiness</td>
				<td dojoAttachPoint="cloudiness"></td>
			</tr>
			<tr>
				<td>Pressure</td>
				<td dojoAttachPoint="pressure"></td>
			</tr>
			<tr>
				<td>Humidity</td>
				<td dojoAttachPoint="humidity"></td>
			</tr>
			<tr>
				<td>Sunrise</td>
				<td dojoAttachPoint="sunrise"></td>
			</tr>
			<tr>
				<td>Sunset</td>
				<td dojoAttachPoint="sunset"></td>
			</tr>
			<tr>
				<td>Geo coords</td>
				<td dojoAttachPoint="coords"></td>
			</tr>
		</tbody>
	</table>

</div>