<div>
	<button data-dojo-attach-point="btndrawpoly" style="float:right;" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Click on map to draw polygon"><span class="glyphicon glyphicon-pencil"></span></button>

	<button data-dojo-attach-point="btnclear" style="float:right;" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Clear"><span class="glyphicon glyphicon glyphicon-refresh"></span></button>

	<span data-dojo-attach-point="loadingdiv" class="loading" style="display:none;"></span>
	<div style="height:145px;overflow-y:auto;">
		<table class="table">
			<thead>
				<tr>
					<th style="width:10px;">#</th>
					<th style="width:180px;">Fire Name</th>
					<th style="width:20px;">State</th>
					<th style="width:50px;">Area</th>
				</tr>
			</thead>
			<tbody data-dojo-attach-point="tbcontent">
			</tbody>
		</table>
	</div>
</div>